.footer {
    position: relative;
    background-color: lightgrey;
    width: 100%;
    padding-bottom: 10px;

    &__label {
        text-align: center;
        padding: 10px 0;
    }
}

.accreditation { 
    display: block;
    text-align: center;      

    &__logo {
        max-height: 45px;
        object-fit: contain;
        margin: 0 10px;
    }

}