.footer {
    position: relative;
    background-color: lightgrey;
    width: 100%;

    &__label {
        text-align: center;
    }
}

.accreditation { 
    display: block;
    text-align: center;      

    &__logo {
        max-height: 45px;
        object-fit: contain;
        margin: 0 10px;
    }

}