$dark-blue: #010057;

.about-block {
    
    &__header {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        color: $dark-blue;
    }

    &__tag {
        line-height: 1.5;
    }
}

