.section {
    margin: 0;
    text-align: center;
    padding: 25px;

    &__title {
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        margin: 10px auto;
        padding: 0 10px 5px;
        letter-spacing: 2px;
        border-bottom: 1px solid black;
    }

    &__content {
        text-align: left;
        padding: 20px 0;
    }

    &--yellow {
        background: gold;
    }

    &--white {
        background: #fff;
    }
}

.logo-box {
    display: inline-block;

  
}