
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__icon {
        max-width: 50px;
        max-height: 50px;
        padding: 10px;
    }

    &__type {
        line-height: 10px;
    }

    &__container {
        min-width: 230px;
        text-align: center;
    }
}