$dark-blue: #010057;

.masthead {
    background-color: #FF9505;
    color:$dark-blue;
    
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
    }

    &__links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        display: inline-block;
        margin: 0 6px;
        font-weight: bold;
    }

    &__anchor {
        display: block;
        text-decoration: none;
        color: $dark-blue;
        transition: background-color 0.3s ease;
        padding: 10px;
    }

    &__anchor:hover {
        text-decoration: none;
        color: black;
        background-color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (max-width: 820px) {

        &__container {
            flex-direction: column;
            height: auto;
        }

        &__title {
            font-size: 18px;
            margin-top: 10px;
        }

        &__anchor {
            font-size: 14px;
        }

    }

    @media screen and (max-width: 450px) {
        &__anchor {
            padding: 10px 0;
        }
    }
}
