$dark-blue: #010057;

.masthead {
    background-color: #FF9505;
    color:$dark-blue;
    

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
    }

    &__links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        display: inline-block;
        margin: 0 10px;
        font-weight: bold;
    }

    &__anchor {
        text-decoration: none;
        color: $dark-blue;
        transition: background-color 0.3s ease;
        padding: 10px;
    }

    &__anchor:hover {
        text-decoration: none;
        color: black;
        background-color: rgba(255, 255, 255, 0.6);
    }
}
